# Dependencies
node_modules/
.pnp.cjs
.pnp.loader.mjs
.pnpm-store/

# Build outputs
.next/
out/
dist/
.next-static/
*.tsbuildinfo

# Vercel
.vercel/

# Env & secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# Editor junk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# Testing/coverage
coverage/
.jest/

# Lint/Type checking caches
.eslintcache
.stylelintcache
.turbo/

# Misc
*.local
